@model SaboresByMali.Models.Usuario

<h2>Lista de usuarios</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
    </dl>
</div>
<div>
        <a type="button" class="btn btn-primary" asp-action="Edit">Editar</a> |
        <a type="button" class="btn btn-link" asp-action="Index">Volver a la lista</a>
</div>